.container {
  background-color: #2b2a30;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100vw;
  transform: translateX(50vw);
  transition: transform 1s;
}

.transformed {
  transform: translateX(-100vw);
}

.timer {
  transform: translate(50%);
}

.countdown {
  transform: translate(50%);
}
.button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
